/*@media screen and (max-width:480px) {*/
@media screen and (orientation: landscape) {
    body {
        margin: 0;
    }
    main {
        background-color: black;
        width: 100vw;
    }
    canvas {
        width: 100vw;
        height: 100vh;
    }
}